<div fxLayout="row wrap">
  <div fxLfex>
    <div fxLayout="column">
      <div>
        <img src="/src/assets/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg" />
      </div>
    </div>
    <em>
      Photo By
      <a
        href="https://unsplash.com/@tierramallorca?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
        >Tierra Mallorca</a
      >
      on
      <a
        href="https://unsplash.com/photos/white-and-red-wooden-house-miniature-on-brown-table-rgJ1J8SDEAY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
        >Unsplash</a
      >
    </em>
  </div>
</div>

<div fxFlex>
  <h1 class="blue">About Loan App</h1>
  <p>
    If you’ve been thinking about borrowing money and are curious to see what
    payments would look like before you apply, a loan calculator can be an ideal
    tool to help you figure this out.
  </p>
  <p>
    Our Loan App calculator was designed to help borrowers calculate loans.
    These include mortgages, auto loans, student loans and other types of
    personal loans that are paid off in regular installments over time, with
    fixed payments covering both the principal amount and interest. Our
    calculator shows you the total cost of a loan, expressed as the annual
    percentage rate, or APR. To use the calculator, simply enter the loan
    amount, term and interest rate and calculate to see your personalized
    results.
  </p>
</div>
